<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Historial - Aplicación YekoBackup</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="bg-[#1E90FF] min-h-screen flex items-center justify-center p-4">
    <div class="max-w-md w-full space-y-6">
        <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center justify-center space-x-3 mb-4">
                <a href="/home" aria-label="Volver" class="text-[#1E90FF] text-lg">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <img src="{{ url_for('static', filename='assets/LogoV2.jpg') }}" alt="Logo de YekoBackup" class="w-20 h-20"/>
                <h1 class="text-[#1E90FF] font-semibold text-base text-center">Aplicación YekoBackup</h1>
            </div>
            <div class="flex justify-center items-center space-x-5 mb-5">
                <a href="/respaldo" class="tab-button" type="button">Respaldo</a>
                <a href="/restaurar" class="tab-button" type="button">Restaurar</a>
                <a href="/historial" class="tab-button active" type="button">Historial</a>
            </div>
            <div id="tab-content">
                <div id="historial" class="tab-pane">
                    <div class="border border-[#525252] rounded p-3 text-[#000000] text-xs font-semibold overflow-x-auto">
                        <table class="w-full text-xs text-[#525252] font-semibold">
                            <thead>
                                <tr class="border-b border-[#525252]">
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Tamaño</th>
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Dirección</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if registros %}
                                    {% for registro in registros %}
                                        <tr>
                                            {% for valor in registro.values() %}
                                                <td class="p-2">{{ valor }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="p-2" style="text-align: center;">No hay registros disponibles</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <form action="/borrar_registros", method="POST">   
                        <div class="form-actions flex justify-center mt-3">
                            <button type="submit" class="primary-button">
                                Limpiar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>