<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>IceBackUp</title>
</head>
<body>
    <section>
        <h1>Bienvenidos al proyecto IceBackUp</h1>
    </section>

    <section>
        <form action="/procesar" method="POST">
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" placeholder="Ingrese la dirección" required>
            </div>

            <div class="checkbox-group">
                <label ><input type="checkbox", name="accion", value="respaldo"> respaldo</label>
                <label ><input type="checkbox", name="accion", value="recuperacion"> recuperacion</label>
            </div>

            <div class="form-actions">
                <input type="submit" value="Enviar">
            </div>
        </form>

        <form action="/borrar_registros", method="POST">
                <div class="form-actions">
                    <input type="submit" value="Colapsar">
                </div>
        </form>

    </section>

    <section>
        <table>
    <thead>
        <tr>
            {% if registros and registros[0] %}
                {% for columna in registros[0].keys() %}
                    <th>{{ columna }}</th>
                {% endfor %}
            {% else %}
                <th>ID</th>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Accion</th>
                <th>Direccion</th>
                <th>Fecha</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if registros %}
            {% for registro in registros %}
                <tr>
                    {% for valor in registro.values() %}
                        <td>{{ valor }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" style="text-align: center;">No hay registros disponibles</td>
            </tr>
        {% endif %}
    </tbody>
</table>
    </section>

</body>
</html>