<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <section>
        <h1>Bienvenidos al proyecto IceBackUp</h1>
        <h1>Inicie Sesion</h1>
    </section>

    <section>
        <form action="/ProcesarLogin">
            <div>
                <label for="direccion">Usuario</label>
                <input type="text" placeholder="Usuario" required>

                <label for="direccion">Contraseña</label>
                <input type="password" placeholder="Contraseña" required>
            </div>
            <div>
                <input type="submit", value="Iniciar Serion">
            </div>
        </form>
        <form action="/redireccionar_singin">
            <div>
                <input type="submit", value="Crear cuenta">
            </div>
        </form>
    </section>
</body>
</html>