<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YekoBackup - Iniciar Sesión</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body {
            background-color: #1E90FF;
        }
        .password-container {
            position: relative;
        }
    </style>
</head>
<body class="bg-[#1E90FF] flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md bg-white p-8 rounded-xl shadow-lg">
        <div class="flex flex-col items-center mb-6">
            <img src="{{ url_for('static', filename='assets/LogoV2.jpg') }}" alt="Logo de YekoBackup" class="w-20 h-20 mb-3"/>
            <h3 class="text-[#1E90FF] font-semibold text-lg text-center">
                YekoBackup <br> Iniciar Sesión
            </h3>
        </div>
        <form action="/ProcesarLogin" method="post" class="space-y-4">
            <div class="form-group">
                <label for="user" class="block text-sm font-medium text-gray-700">Usuario</label>
                <input type="text" id="user" name="user" placeholder="Usuario" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-[#1E90FF] focus:border-[#1E90FF]">
            </div>

            <div class="password-container">
                <label for="pass" class="block text-sm font-medium text-gray-700">Contraseña</label>
                <input type="password" id="pass" name="password" placeholder="Contraseña" class="mt-1 block w-full px-3 py-2 pr-10 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-[#1E90FF] focus:border-[#1E90FF]">
            </div>

            <div class="form-actions flex justify-between mt-6 space-x-4">
                <a href="/home" type="button" type="submit" class="w-1/2 bg-[#58A0E4] text-white py-2 px-10 rounded-md shadow-sm hover:bg-[#4a8acd] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#58A0E4]">
                    Iniciar Sesión
                </a>
                <a href="/register" class="w-1/2 flex items-center justify-center bg-gray-200 text-gray-700 py-2 px-4 rounded-md shadow-sm hover:bg-gray-300">
                    Registrar
                </a>
            </div>
            <a href="/register" class="block text-center text-[#1E90FF] mt-4 hover:underline">
                ¿No tienes una cuenta? Regístrate
            </a>
        </form>
    </div>
</body>
</html>